<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container header">
    <div class="page-header">
        <h1>注册</h1>
        <a href="/stu">
            <button class="btn btn-success">返回首页</button>
        </a>
    </div>
    <div class="comments container">
        <form action="/reg" method="post">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" placeholder='请输入你的姓名' name="name" id="name">
            </div>
            <div class="form-group">
                <label for="pwd">密码</label>
                <input autocomplete type="password" class="form-control" name="pwd" id="pwd">
            </div>
            <input type="submit" class="btn btn-success">
        </form>
    </div>
</div>
</body>
</html>
